/*-------------  BASE  -------------*/

$m: 0.625rem; //10px

/*-------------  COLORS  -------------*/

$purple-main: rgb(60,0,70);
$purple-secondary: rgba(60,0,70,0.6);
$white: rgb(255,255,255);

/*-------------  TIMES  -------------*/

$animation-time: 0.4s;
