/*-------------  BASE  -------------*/

$m: 0.625rem; //10px

/*-------------  COLORS  -------------*/

$purple-main: rgb(60,0,70);
$purple-secondary: rgba(60,0,70,0.6);
$white: rgb(255,255,255);

/*-------------  TIMES  -------------*/

$animation-time: 0.4s;

/*-------------  MIXINS  -------------*/

@mixin flex {
	display: flex;
}

@mixin inline-flex {
	display: flex;
}

@mixin flex-row {
	@include flex;
	flex-direction: row;
}

@mixin inline-flex-row {
	@include inline-flex;
	flex-direction: row;
}

@mixin flex-column {
	@include flex;
	flex-direction: column;
}

@mixin inline-flex-column {
	@include inline-flex;
	flex-direction: column;
}

@mixin animation-on-load($animation-name) {
	animation: 2*$animation-time ease-out 0s 1 $animation-name;
}

/*-------------  KEYFRAMES  -------------*/

@keyframes no-width-on-load {
	0% {
		width: 0;
	}
}
